DEBUG=off
SECRET_KEY="your-secret-key"
DOMAINS=localhost,127.0.0.1
DATABASE_URL=psql://user:password@localhost:5432/dbname

EMAIL_URL=smtp://user:password@host:port
# If need TLS
# EMAIL_URL=smtp+tls://user:password@host:port

EMAIL_FROM=no-reply@unilab.su
ADMINS=Engeniy <engen@admin.com>,Alexey <alex@admin.com>
MANAGERS=Ilya <ilya@manager.com>,Lisa <lisa@manager.com>