[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-cors-headers = "*"
django-debug-toolbar = "*"
drf-spectacular = "*"

[packages]
django = "*"
django-environ = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2 = "*"
pydantic = {extras = ["email"], version = "*"}

[requires]
python_version = "3.9"
